header {
    background-color: rgb(234,75,36);
}

h1, h2 {
    color: rgb(100, 233, 83);
    text-transform: uppercase;
}


h1 {
    color:rgb(36, 23, 212) ;
    text-align: center;
}

section {
    background-color: rgb(72, 36, 234);
}

nav a {
    color: rgb(226, 236, 85);
    background-color: rgb(247, 110, 76);
    text-align: center;
}

img {
    display: none;
}